/* Navbar Styles
____________________________________*/
nav {
    background-color: #0e100e;
}

nav ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 80px;
}

nav ul a {
    color: #01e6a1;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

a.brand-logo {
    font-family: 'Modern Antiqua', cursive;
    color: #01f7ad;
    font-size: 2.7rem;
    font-weight: 900;
}

.sidenav {
    width: 220px;
    background-color: #e7fff8;
}

@-webkit-keyframes hvr-ripple-out {
    100% {
      top: -12px;
      right: -12px;
      bottom: -12px;
      left: -12px;
      opacity: 0;
    }
  }
  @keyframes hvr-ripple-out {
    100% {
      top: -12px;
      right: -12px;
      bottom: -12px;
      left: -12px;
      opacity: 0;
    }
  }

  .hvr-grow {
    font-color: lightgrey;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

/* Sidenav Styles
____________________________________*/
.sidenav-even {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

/* Traditional Tic Tac Toe Styles
____________________________________*/
.background {
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/whirlpool.png);;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/whirlpool.png);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    padding-bottom: 110px;
}

p {
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 960px;
}

.tic-tac-toe {
    padding-top: 21px;
    max-width: 700px;
    margin: 0 auto;
}

.row {
    margin-bottom: 0;
}

.row .col.s4 {
    width: 30%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.size {
    background-color: peachpuff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    margin-right: 10px;
    margin-bottom: 10px;
}

.size:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }


/* AR Tic Tac Toe Styles
____________________________________*/
.ar-nav {
    position: fixed; 
    top: 0; 
    width: 100%; 
    text-align: center; 
    z-index: 1;
}

/* Marker Styles
____________________________________*/
.marker {
    max-width: 75%;
    padding-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

/* Media Queries
____________________________________*/
@media only screen and (min-width: 601px) {
    nav a.sidenav-trigger {
        display: none;
    }

    .container {
        width: 80%;
    }
}

@media only screen and (max-width: 750px) {
    .tic-tac-toe {
        width: 93%;
    }
}

@media only screen and (max-width: 600px) {
    nav .brand-logo {
        left: 60px !important;
    }
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: 0; 
        -webkit-transform: translateX(0); 
        transform: translateX(0);  
    }
}

