/* Navbar Styles
____________________________________*/
nav {
    background-color: #0e100e;
}

nav ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 110px;;
}

nav ul a {
    color: #01e6a1;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

a.brand-logo {
    font-family: 'Modern Antiqua', cursive;
    color: #01f7ad;
    font-size: 2.7rem;
    font-weight: 900;
}

@-webkit-keyframes hvr-ripple-out {
    100% {
      top: -12px;
      right: -12px;
      bottom: -12px;
      left: -12px;
      opacity: 0;
    }
  }

  @keyframes hvr-ripple-out {
    100% {
      top: -12px;
      right: -12px;
      bottom: -12px;
      left: -12px;
      opacity: 0;
    }
  }

  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }

  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  .nav-wrapper {
    margin: 0 auto;
    max-width: 960px;
}
/* Sidenav Styles
____________________________________*/
.sidenav {
    width: 220px;
    background-color: #e7fff8;
}

.sidenav-even {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

/* Traditional Tic Tac Toe Styles
____________________________________*/
h1 {
    margin: 0;
}

p {
    text-align: center;
}

.background {
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/whirlpool.png);;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/whirlpool.png);
    background-size: cover;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    /* background-repeat-x: initial;
    background-repeat-y: initial; */
    background-repeat: repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    min-height: 100%;
}

.special-col {
    text-align: center;
}

.special-text {
    font-family: 'Roboto', sans-serif;
    padding-top: 2px;
    padding-bottom: 2px;
}

.tic-tac-toe {
    padding-top: 21px;
    max-width: 700px;
    margin: 0 auto;
}

.row {
    margin-bottom: 0;
    padding-left: 5%;
}

.row .col.s4 {
    width: 30%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.t-switch label {
    font-family: 'Roboto', sans-serif;
    color: #01e6a1;
    font-size: medium;
}

.size {
    background-color: peachpuff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    margin-right: 10px;
    margin-bottom: 10px;
}

.size:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .switch label .lever {
      background-color: lightgray;
  }

  .switch label .lever:after {
      background-color: grey;
  }

.stick-bottom .restart-index {
    bottom: 0;
    position: absolute;
    background-color: #0e100e !important;
    color: #01e6a1 !important;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-radius: 5px;
}

.stick-bottom .instructions-index {
    background-color: #0e100e !important;
    color: #01e6a1 !important;
}
/* AR Tic Tac Toe Styles
____________________________________*/
#arjsDebugUIContainer, .a-enter-vr-button {
    display: none;
}

.stick-top #twoPlayerSwitch {
    right: 0;
    position: absolute;
}

.stick-bottom #restartBtn {
    right: 0;
    bottom: 2px;
    position: absolute;
    background-color: #01e6a1;
    color: #0e100e;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-radius: 5px;
}

.stick-bottom .instructions {
    left: 35px;
    bottom: 0;
    position: absolute;
    padding: 10px 10px 10px 10px;
    background-color: #01e6a1; 
    color: #0e100e;;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-radius: 5px;
}

.ar-switch label {
    font-family: 'Roboto', sans-serif;
    color: #0e100e;
    font-size: medium;
}

.stick-top {
    background-color: #01e6a1;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
}

.stick-bottom {
    width: 100%;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.ar-brand-logo {
    font-family: 'Modern Antiqua', cursive;
    font-size: 2.7rem;
    font-weight: 900;
    color: #0e100e;
    border: 0;
    bottom: 0;
    cursor: pointer !important;
    min-width: 50px;
    min-height: 30px;
    padding-right: 0;
    padding-top: 0;
    position: absolute;
    left: 0;
    transition: background-color .05s ease;
    -webkit-transition: background-color .05s ease;
    z-index: 9999;
} 

.ar-nav {
    position: fixed; 
    top: 0; 
    width: 100%; 
    text-align: center; 
    z-index: 1;
}

/* Marker Styles
____________________________________*/
.marker {
    max-width: 75%;
    padding-top: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

/* Media Queries
____________________________________*/
@media only screen and (min-width: 601px) {
    nav a.sidenav-trigger {
        display: none;
    }

    .container {
        width: 80%;
    }
}

@media only screen and (max-width: 350px) {
    .tic-tac-toe {
        width: 93%;
    }
    .row {
        padding-left: 3%;
    }
    .size {
        margin-right: 6px;
    }
    .t-switch label {
        font-size: small;
    }
}

@media only screen and (max-width: 600px) {
    nav .brand-logo {
        left: 60px !important;
    }
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: 0; 
        -webkit-transform: translateX(0); 
        transform: translateX(0);  
    }
}

@media only screen and (max-width: 708px) {
    nav a.sidenav-trigger {
        display: block;
        margin-left: 0 !important;
        margin-right: 18px;
        top: 2px;
    }
    .hide-on-small-and-down {
        display: none !important;
    }
    nav .brand-logo {
        left: 40px !important;
    }
}

@media only screen and (max-width: 800px) {
    .stick-bottom #restartBtn {
        left: 35px;
        bottom: 0px;
        right: unset;
    }
    
    .stick-bottom .instructions {
        left: 35px;
        bottom: 45px;
    }
}
